.banner
{ 
  background-image: url("../../images/fond.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  border-bottom: 8px solid #222;
  padding-bottom: 120px;
}

.head
{ 
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 18px 43px;
 }

#netflix
{ 
  background-image: url("../../images/logo.png");
   background-size: 150px 110px;
  height: 80px; width: 150px;
  margin-right: 0px;
 }
.maincontainer
{
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
	align-items: center;

}

.banner img
{
	width: 160px; height: 55px;
}

#font-1
{ 
   font-family:  Verdana;
   font-weight: 800;
   font-size: 42px;
   color: white;
   width: 600px; height: 100px;
   margin: 130px 0px 40px 0px;
}

#font-2
 {  
   font-family:  Helvetica;
   font-weight: lighter;
   font-size: 24px;
   margin-bottom:  20px;
   color: white;
  }

#font-3
  { 
    font-family:  Helvetica;
    font-size: 21px;
    margin-top: 10px;    font-weight: lighter;
   }


input
{
   width: 480px; height: 52px;
   padding: 10px;
}


